<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384413972179-o3qqacmh9r86h4b5mjs288lr7luaepva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384413972179-o3qqacmh9r86h4b5mjs288lr7luaepva</string>
	<key>API_KEY</key>
	<string>AIzaSyCI_aZuZKGa502h5ZNUM5bvvdbjBFocyCg</string>
	<key>GCM_SENDER_ID</key>
	<string>384413972179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.CaraLibroMessenger</string>
	<key>PROJECT_ID</key>
	<string>carelibromessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>carelibromessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384413972179:ios:bcaea3731e98241d674626</string>
</dict>
</plist>